<div class="modal-header" style="border: none;">
  <h3>Anticipo de capital</h3>
</div>

<div class="modal-content" style="border: none;">
  <form class="form container-fluid">

    <div class="py-2">
      <span><strong>Elige la fecha del anticipo:</strong></span>
      <input type="date" class="form-control">
    </div>

    <div class="py-2">
      <span><strong>Indica la cantidad a depositar:</strong></span>
      <input type="text" class="form-control">
    </div>

    <div class="py-2">
      <span><strong>Escoge el resultado del anticipo:</strong></span>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="resultado" checked>
        <label class="form-check-label">
          Disminucion del importe de la cuota
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="resultado">
        <label class="form-check-label">
          Disminucion del numero de cuotas
        </label>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer border-0">
  <button type="button" class="btn btn-dark text-white rounded-pill">Calcular</button>
</div>

